In [ ]:
import pandas as pd
from google.colab import drive


drive.mount('/content/drive')
!Is "/content/drive/My Drive/Colab Notebooks"

Mounted at /content/drive
/bin/bash: line 1: Is: command not found

## **熟悉几种编码方式**
**对比传统函数定义和lambda的不同**

In [ ]:
house_data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/IBM Practice/home_data.csv',encoding='gbk')
house_data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
zipcode_mean = house_data.groupby('zipcode').agg({'price':'mean','id':'count'}).reset_index()
zipcode_mean.sort_values(by = 'price', ascending =False )

    zipcode         price   id
24    98039  2.160607e+06   50
3     98004  1.355927e+06  317
25    98040  1.194230e+06  282
48    98112  1.095499e+06  269
41    98102  9.012582e+05  105
..      ...           ...  ...
61    98148  2.849086e+05   57
0     98001  2.808047e+05  362
20    98032  2.512962e+05  125
64    98168  2.403284e+05  269
1     98002  2.342840e+05  199

[70 rows x 3 columns]

In [ ]:
select_house = house_data[(house_data['sqft_living']>=2000) & (house_data['sqft_living']<=4000)].shape[0]
total_house = house_data.shape[0]
select_house/total_house

0.4266413732475825

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house
'grade', # measure of quality of construction
'waterfront', # waterfront property
'view', # type of view
'sqft_above', # square feet above ground
'sqft_basement', # square feet in basement
'yr_built', # the year built
'yr_renovated', # the year renovated
'lat', 'long', # the lat-long of the parcel
'sqft_living15', # average sq.ft. of 15 nearest neighbors
'sqft_lot15', # average lot size of 15 nearest neighbors
]
X = house_data[my_features]
Y = house_data['price']
X_train,X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state=0)

linear_model = LinearRegression()
linear_model.fit(X_train, Y_train)
Y_pred = linear_model.predict(X_test)
rmse = mean_squared_error(Y_test, Y_pred) ** 0.5

print('linear regression',rmse)

linear regression 244004.77443104176